*.properties
local.properties

# Игнорировать временные файлы Gradle
.gradle/
app/build
./gradle

# Игнорировать локальные файлы конфигурации IDE
.idea/
*.iml
*.ipr
*.iws

# Прочие файлы, которые следует игнорировать
*.log
*.class

# Файлы операционной системы
.DS_Store
Thumbs.db
/gradle/
